<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="images">
          <div class="image-container">
            <img [src]="acertijoActual.i_url1" alt="Imagen 1">
          </div>
          <div class="image-container">
            <img [src]="acertijoActual.i_url2" alt="Imagen 2">
          </div>
        </div>
      
        <input type="text" class="form-control form-control-lg">
        
        <button type="button" class="btn btn-primary btn-lg">Enviar respuesta</button>
      </div>
    
</body>
</html>

