<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h1>{{acertijoActual.pregunta}}</h1>
        <div class="images">
          <div class="image-container">
            <img [src]="this.acertijoActual.i_url2" alt="Imagen 1">
          </div>
          <div class="image-container">
            <img [src]="this.acertijoActual.i_url1" alt="Imagen 2">
          </div>
        </div>
      
        <input type="text" class="form-control form-control-lg" [(ngModel)]="respuesta" >
        
       
        <!-- Button trigger modal -->
        <div class="button-container">
          <!-- Button trigger modal -->
          <button type="button"  (click)="verificarRespuesta()">
            Comprobar
          </button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Pista
          </button>
      </div>
      </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Pista</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{acertijoActual.pista}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
</body>
</html>

