<div style="text-align: center;">
    <h1>Estadísticas del Jugador</h1>
  
    <div style="display: flex; justify-content: space-around; margin-top: 20px;">
      <!-- <div>
        <h3>Gráfico de Barras (Puntos por Fechas)</h3>
        <canvas id="bar-canvas" width="300" height="300"></canvas>
      </div>
  
      <div>
        <h3>Gráfico de Línea (Puntos por Fechas)</h3>
        <canvas id="line-canvas" width="300" height="300"></canvas>
      </div> -->
      <div>
        <h3>Gráfico de Línea + Barras</h3>
        <canvas id="mixed-canvas" width="300" height="300"></canvas>
      </div>
      <div>
        <h3>Número de Partidas por Rango de Puntos</h3>
        <canvas id="pie-canvas" width="300" height="300"></canvas>
      </div>
    </div>
  </div>
  