

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Estadisticas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Estadisticas de Usuarios</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Usuario:</h3>
            
        </div>



<div style="text-align: center;">
    <!-- <button class="btn btn-primary" (click)="volverHome()">Ir A Home</button> -->
    <a href="/dashboard">Volver</a>


</div>
