<div class="container">
  <form [formGroup]="loginForm" method="POST" class="custom-form" (ngSubmit)="iniciarSesion()">
    <h1 class="form-title">Login</h1>
  
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
      <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="error-message">
        Email es obligatorio.
      </div>
      <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="error-message">
        Introduce un email válido.
      </div>
    </div>
  
    <div class="form-group">
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" formControlName="contrasena" required>
      <div *ngIf="loginForm.get('contrasena')?.hasError('required') && loginForm.get('contrasena')?.touched" class="error-message">
        Contraseña es obligatoria.
      </div>
      <div *ngIf="loginForm.get('contrasena')?.hasError('minlength') && loginForm.get('contrasena')?.touched" class="error-message">
        Contraseña debe tener al menos 6 caracteres.
      </div>
    </div>
  
    <button type="submit">Iniciar Sesión</button>
    <a routerLink="/registro" class="register-link">¿No tienes cuenta? Regístrate aquí.</a>
  </form>
  
  <div *ngIf="mensajeError" class="error-message">
    {{ mensajeError }}
  </div>
</div>
