<form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()" class="mt-4">
    <h1 class="mb-3">Login</h1>
  
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" formControlName="email" class="form-control" required>
      <div *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched" class="invalid-feedback">
        Email es obligatorio.
      </div>
      <div *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched" class="invalid-feedback">
        Introduce un email válido.
      </div>
    </div>
  
    <div class="mb-3">
      <label for="contrasena" class="form-label">Contraseña:</label>
      <input type="password" id="contrasena" formControlName="contrasena" class="form-control" required>
      <div *ngIf="loginForm.get('contrasena').hasError('required') && loginForm.get('contrasena').touched" class="invalid-feedback">
        Contraseña es obligatoria.
      </div>
      <div *ngIf="loginForm.get('contrasena').hasError('minlength') && loginForm.get('contrasena').touched" class="invalid-feedback">
        Contraseña debe tener al menos 6 caracteres.
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar Sesión</button>
  </form>
  