<div class="container mt-4 form-container">
  <form [formGroup]="acertijoForm" (ngSubmit)="addAcertijo()">
    <div class="mb-3">
     
      <label for="id_juego" class="form-label">ID Juego</label>
      <input type="number" id="id_juego" class="form-control" formControlName="id_juego" required>
      <div>
        <div *ngIf="acertijoForm.get('id_juego')?.hasError('required') && acertijoForm.get('id_juego')?.touched"
          class="error-message">
          ID Juego es obligatorio.
        </div>
      




      <label for="cancion_url" class="form-label">URL Canción</label>

      <input type="text" id="cancion_url" class="form-control" formControlName="cancion_url" required>
      <div *ngIf="acertijoForm.get('cancion_url')?.hasError('required') && acertijoForm.get('cancion_url')?.touched"
        class="error-message">
        Ruta es obligatorio.
      </div>
    </div>
    <div class="mb-3">
      <label for="imagen_url" class="form-label">URL Imagen</label>
      <input type="text" id="imagen_url" class="form-control" formControlName="imagen_url" required>
      <div *ngIf="acertijoForm.get('imagen_url')?.hasError('required') && acertijoForm.get('imagen_url')?.touched"
        class="error-message">
        Ruta de la imagen es obligatorio.
      </div>
    </div>
    <div class="mb-3">
      <label for="pista" class="form-label">Pista</label>
      <input type="text" id="pista" class="form-control" formControlName="pista" required>
      <div *ngIf="acertijoForm.get('pista')?.hasError('required') && acertijoForm.get('pista')?.touched"
        class="error-message">
        Ruta para la pista obligatorio.
      </div>
    </div>
    <div class="mb-3">
      <label for="solucion" class="form-label">Solución</label>
      <input type="text" id="solucion" class="form-control" formControlName="solucion" required>
      <div *ngIf="acertijoForm.get('solucion')?.hasError('required') && acertijoForm.get('solucion')?.touched"
        class="error-message">
        Ruta es obligatorio.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Acertijo</button>
    <a routerLink="/index" class="btn btn-link">Volver</a>

</div>


<div class="container mt-4">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover text-center">
      <thead class="table-dark">
        <tr>
          <th>ID acertijo</th>
          <th>id juego</th>
          <th>URL Canción</th>
          <th>URL Imagen</th>
          <th>Pista</th>
          <th>Solución</th>
          <th>Pregunta</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acertijo of acertijos">
          <td>{{ acertijo.id_ac }}</td>
          <td>{{ acertijo.id_juego }}</td>
          <td>{{ acertijo.cancion_url }}</td>
          <td>{{ acertijo.imagen_url }}</td>
          <td>{{ acertijo.pista }}</td>
          <td>{{ acertijo.solucion }}</td>
          <td>{{ acertijo.pregunta }}</td>
          <td>
            <a [routerLink]="['/actualiza-acertijo', acertijo.id_ac]">Editar | Eliminar</a> <br>    
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>