 body {
    background: #ecf0f3;
  }

  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #bcd8c1;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }

  .form-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .error-message {
    color: red;
  }